Library

In [1]:
import pandas as pd
import numpy as np

import random
from sklearn.ensemble import RandomForestRegressor

import tensorflow as tf
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from tensorflow.keras.layers import Input, Dense, Activation,Dropout
from tensorflow.keras import layers, Sequential

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

In [2]:
train_data = pd.read_csv('train_data.csv')
train_data

,id,word-1,word-2,word-3,word-4,word-5,word-6,word-7,word-8,word-9,...,word-32,word-33,word-34,word-35,word-36,word-37,word-38,word-39,word-40,Result
0,1,5,0.0,0.0,0.0,0,0.0,0.0,1,0,...,0.0,0,0.0,0,0.0,0.0,0,0,0,0
1,2,117,1.0,4.0,3.0,NaN,5.0,2.0,9,19,...,3.0,13,9.0,15,3.0,NaN,13,3,1,0
2,3,30,1.0,1.0,5.0,8,3.0,2.0,2,2,...,1.0,5,1.0,1,1.0,0.0,0,0,0,0
3,4,3,0.0,0.0,0.0,0,0.0,0.0,0,1,...,0.0,NaN,0.0,0,0.0,0.0,NaN,0,0,0
4,5,263,6.0,8.0,8.0,NaN,26.0,1.0,21,35,...,10.0,NaN,5.0,49,26.0,24.0,23,4,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3615,3616,131,2.0,1.0,9.0,27,4.0,0.0,6,13,...,10.0,2,0.0,10,2.0,3.0,4,1,3,1
3616,3617,7,0.0,0.0,1.0,0,0.0,0.0,2,2,...,0.0,0,1.0,1,0.0,1.0,1,1,0,0
3617,3618,3,0.0,0.0,NaN,0,0.0,0.0,0,1,...,0.0,0,0.0,0,0.0,0.0,0,0,0,0
3618,3619,47,3.0,0.0,0.0,12,1.0,3.0,3,5,...,2.0,11,2.0,9,2.0,3.0,3,4,1,0
3619,3620,110,9.0,NaN,0.0,21,9.0,3.0,4,16,...,3.0,8,3.0,15,10.0,21.0,10,5,15,0

Data Preprocessing

In [3]:
train_data.isnull().sum()

id          0
word-1     11
word-2     16
word-3     14
word-4     23
word-5     24
word-6     23
word-7     20
word-8     21
word-9     34
word-10    20
word-11    18
word-12    20
word-13    23
word-14    13
word-15    24
word-16    11
word-17    20
word-18    20
word-19    34
word-20    14
word-21    11
word-22    10
word-23    15
word-24     9
word-25    17
word-26    13
word-27    10
word-28    11
word-29    16
word-30    17
word-31    11
word-32    10
word-33    18
word-34    11
word-35    19
word-36    13
word-37    14
word-38    12
word-39     6
word-40     2
Result      0
dtype: int64

In [4]:
train_data.isobject().sum()

AttributeError: 'DataFrame' object has no attribute 'isobject'

In [ ]:
train_data.describe()

In [ ]:
train_data = train_data.dropna()

In [ ]:
train_data.info()

In [ ]:
for column in train_data.columns[1:41]:
    train_data[column] = train_data[column].apply(ord)

In [ ]:
train_features = train_data.iloc[:,1:41]
train_label = train_data.iloc[:,41:]

In [ ]:
train_label

In [ ]:
train_features = np.asarray(train_features)
train_label = np.asarray(train_label)

In [ ]:
train_features

In [ ]:
X_train, X_val_and_test, y_train, y_val_and_test = train_test_split(train_features, train_label, test_size=0.2)
X_val, X_test, y_val, y_test = train_test_split(X_val_and_test, y_val_and_test, test_size=0.5)
print(X_train.shape, X_val.shape, X_test.shape, y_train.shape, y_val.shape, y_test.shape)

In [ ]:
# random.seed(50)
# rf = RandomForestRegressor(n_estimators=10)
# rf.fit(X_train, y_train)

class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('acc')>0.99):
      print("\nReached 99% accuracy so cancelling training!")
      self.model.stop_training = True

In [ ]:
callbacks = myCallback()

DEFINE MODEL

In [ ]:
model = Sequential([
    Dense(32, activation='relu', input_shape=(40,), kernel_initializer='random_normal', name='hidden1'),
    #Dropout(0,2),
    Dense(32, activation='relu', name='hidden2'),
    Dense(1, activation='sigmoid', name='output')
])

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

In [ ]:
X_train

In [ ]:
history = model.fit(X_train, y_train, batch_size=32, epochs=5, validation_data=(X_val,y_val), callbacks=[callbacks])

In [ ]:
model.evaluate(X_test, y_test)